{{ $align := .align | default "center" }}
<section
  class="not-prose {{ if eq $align "start" }}
    items-start
  {{ else if eq $align "end" }}
    items-end
  {{ else }}
    items-center
  {{ end }} mb-8 flex flex-col"
>
  <div class="relative w-full max-w-3xl overflow-hidden rounded-3xl border border-neutral-200 bg-neutral-100/50 px-6 py-10 dark:border-neutral-700 dark:bg-neutral-800/50 sm:px-10">
    <div class="relative flex flex-col items-center">
      {{ $lazy := site.Params.enableImageLazyLoading | default true }}
      {{ $altText := (site.Language.Params.Author.name | default "Author") }}
      {{ with site.Language.Params.Author.image }}
        {{ $authorImage := resources.Get . }}
        {{ if $authorImage }}
          {{ $authorImage = $authorImage.Fill "660x660 Center" }}
          {{ $imgClass := "mb-4 h-auto w-36 rounded-full border-4 border-white/90 shadow-sm dark:border-neutral-800/90 sm:w-40" }}
          {{ $webp := $.Page.Site.Params.enableImageWebp | default true }}
          {{ partial "picture.html" (dict "img" $authorImage "alt" $altText "class" $imgClass "lazy" $lazy "webp" $webp) }}
        {{ end }}
      {{ end }}
      <h1 class="text-center text-4xl font-black tracking-tight text-neutral-900 dark:text-neutral-100 sm:text-5xl">
        {{ site.Language.Params.Author.name | default site.Title }}
      </h1>
      {{ with site.Language.Params.Author.headline }}
        <h2 class="mt-2 text-center text-xl text-neutral-700 dark:text-neutral-300">
          {{ . | markdownify | emojify }}
        </h2>
      {{ end }}
      <div class="mt-6 flex w-full flex-wrap items-center justify-center gap-3">
        <a
          class="inline-block !rounded-md border border-neutral-300 px-4 py-2 text-neutral-800 !no-underline hover:bg-primary-100 dark:border-neutral-600 dark:text-neutral-300 dark:hover:bg-primary-900"
          href="/art/"
        >
          Explore Art
        </a>
        <a
          class="inline-block !rounded-md border border-neutral-300 px-4 py-2 text-neutral-800 !no-underline hover:bg-primary-100 dark:border-neutral-600 dark:text-neutral-300 dark:hover:bg-primary-900"
          href="/notes/"
        >
          Read Notes
        </a>
      </div>
      <div class="mt-6 text-2xl text-neutral-700 dark:text-neutral-200">
        {{ partialCached "author-links.html" . }}
      </div>
    </div>
  </div>
</section>
